<div>

  <div>
    <label for="focus">Focus Time:</label>
    <p-knob [(ngModel)]="focus" [min]="15" [max]="55" [step]="5" valueColor="SlateGray" rangeColor="MediumTurquoise"></p-knob>
  </div>

  <div>
    <label for="short">Short break:</label>
    <p-knob [(ngModel)]="break" [min]="5" [max]="30" [step]="5"  valueColor="SlateGray" rangeColor="MediumTurquoise"></p-knob>
  </div>

  <div>
    <label for="long">Long break:</label>
    <p-knob [(ngModel)]="lBreak" [min]="5" [max]="55" [step]="5"  valueColor="SlateGray" rangeColor="MediumTurquoise"></p-knob>
  </div>

  <div>
    <label for="rounds">Rounds:</label>
    <p-knob [(ngModel)]="rounds" [min]="2" [max]="8"  valueColor="SlateGray" rangeColor="MediumTurquoise"></p-knob>
  </div>

  <button (click)="saveData()">Guardar</button>
</div>



