@import "../../styles/variables";

.compReg {
  align-items: center;
  margin-top: 30px;

  h5 {
    text-align: center;
    font-size: 4rem;
    color: $whiteColor;
  }
  .p-element {
    th {
      width: 30%;
      padding-top: 40px;
      text-align: center;
      font-size: 2rem;
      color: $whiteColor;
    }
    td {
       padding: 7px 0;
      text-align: center;
      font-size: 1.5rem;
      color: $whiteColor;
    }
  }

  button {
    display: block;
    margin: auto;
    color: $mainColor;
    padding: 7px 15px;
    background: $brightColor;
    border: none;
    margin-top: 40px;
    transition: 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
    &:hover {
      background-color: $whiteColor;
    }
  }
  span{
    display: block;
    text-align: center;
    padding: 50px;
    font-size: 4rem;
    color:$whiteColor
  }
}

@media screen and (max-width: 960px) {
  .compReg {
    width: fit-content;
    margin: auto;
    h5 {
      margin: 30px 0;
    }
    .p-element {
      tr {
        border: 1px solid $whiteColor;
      }
      td {
        padding: 7px 15px;
      }
    }
    span {
      margin-right: 30px;
      font-weight: 600;
    }
  }
}
