<form [formGroup]="form" *ngIf="!task; else outlet">
  <label for="task">Task name:</label>
  <input type="text" id="task" name="task" formControlName="task" />
  <div
    *ngIf="
      form.controls['task'].invalid &&
      (form.controls['task'].dirty || form.controls['task'].touched)
    "
    class="alert"
  >
    <span *ngIf="form.controls['task'].errors">
      Please enter a valid name
    </span>
  </div>
  <button type="submit" (click)="getTask()" [disabled]="task">Enviar</button>
</form>
<ng-template #outlet>
  <p>{{task}}</p>
</ng-template>
<p *ngIf="isRunning">{{ time | date: "mm:ss" }}</p>
<p *ngIf="!isRunning">{{ $settings.focus | date: "mm:ss" }}</p>
<p>{{ seriesCounter | number }} / {{ $settings.rounds | number }}</p>
<button (click)="isResting ? startRest() : startTimer()" [disabled]="!task || isRunning || seriesCounter === $settings.rounds">Start</button>
<button (click)="stopTimer()" [disabled]="!isRunning">Stop</button>
<button (click)="completeSerie()" [disabled]="!task || seriesCounter === $settings.rounds">Next</button>
<button (click)="resetTimer()" [disabled]="time === $settings.focus && seriesCounter === 0">Reset</button>
