<form class="form" [formGroup]="form" *ngIf="!task; else outlet">
  <label for="task">Nombre de la Tarea:</label>
  <input type="text" id="task" name="task" formControlName="task" autocomplete="none"/>
  <div
    *ngIf="
      form.controls['task'].invalid &&
      (form.controls['task'].dirty || form.controls['task'].touched)
    "
    class="alert"
  >
    <span *ngIf="form.controls['task'].errors">
      Por Favor Ingrese un nombre válido
    </span>
  </div>
  <button type="submit" (click)="getTask()" [disabled]="task">Aceptar</button>
</form>
<ng-template #outlet>
  <p class="form">{{task}}</p>
</ng-template>
<p class="timer" *ngIf="isRunning">{{ time | date: "mm:ss" }}</p>
<p class="timer" *ngIf="!isRunning">{{ settings.focus | date: "mm:ss" }}</p>
<p>{{ roundsCounter | number }} / {{ settings.rounds | number }}</p>
<div class="timer-buttons">
  <button (click)="isResting ? startRest() : startTimer()" [disabled]="!task || isRunning || roundsCounter === settings.rounds+1">Comenzar</button>
  <button (click)="stopTimer()" [disabled]="!isRunning">Detener</button>
  <button (click)="completeSerie()" [disabled]="!task || roundsCounter === settings.rounds">Siguiente</button>
  <button (click)="resetTimer()" [disabled]="time === settings.focus && roundsCounter === 0 || !task">Reiniciar</button>
</div>
